
   /* .border {
    border-style: dashed;
    width: 50%;
    padding: 2%;
    
   } */

   .circle {
    /* width: 80 10px; */
    height: 210px;
    border-radius: 50%;
    color: #fff;
    padding-top:60px;
    text-align: center;
    background: lightblue;
    color:purple;
    display: inline-block;
    font-size: 125%;
  }

  body {
      background-color: lightsalmon ;
      margin: 10px;
  }

  