li {
    text-align: left
}

body {
    background-color: lightgoldenrodyellow
}

table, th , td {
    border: 2px solid black;
    border-collapse: collapse;
}
th {
    padding: 10px;
    font-size: 130%;
}
td {
    padding: 5px;
    font-size: 110%;
}

.title {
    font-size: 250%;
}