body {
    margin: 10px;
    background-color: lightyellow
}



table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 3px;
}

th, td {
    text-align: center;
}

.title {
    font-size: 120%;
}

