.main {
    color:red;
    text-align: center;
}

body {
    background-color: lightskyblue;
    margin:10px;
}

.main_position {
    padding: 200px 0;
}

.under_main {
    list-style-type:none;
    text-align: center;
    
}
li {
    display: inline;
    padding: 10px;
}

.courses {
    color: red;
    font-size: 140%;
}

a {
    color: black ;
}